body {
    align-items: center;
    background-color: #424242;
    color: #aaa;
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    height: 100vh;
    justify-content: center;
    letter-spacing: -1px;
}
